* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.half {
  width: 45%;
}

#menu {
  list-style: none;
  height: 48px;
}

#menu li {
  text-align: left;
  color: #fff;
}
#menu li a {
  text-decoration: none;
  /* width: 110px; */
  display: block;
  padding: 15px;
  font-family: unset;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
#menu > li {
  float: left;
  position: relative;
}
#menu > li > ul.dropdown_menu {
  position: absolute;
  list-style: none;
  display: none;
  top: 48px;
  left: 0;
  width: 200px;
}
#menu > li:hover > a {
}
#menu > li:hover > ul.dropdown_menu {
  z-index: 100;
  display: block;
  background-color: #00a1ff;
}

ul.dropdown_menu > li > a {
  color: white !important;
}

ul.dropdown_menu > li:hover {
}

ul.dropdown_menu > li:hover > a {
  background-color: #0090e4 !important;
}

.arrow {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.arrow-down {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
}
.arrow-right {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #fff;
}

.page-header {
  position: fixed;
  height: 110px;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 50;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(./assets/img/img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header_content {
  display: flex;
  z-index: 50;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.section_info {
  width: 100%;
}

.background-subiz {
  width: 100%;
  height: 100%;
}

.text__menu {
  font-family: unset;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #1d1d1f;
  text-transform: uppercase;
}

.register_button {
  height: 64px;
  background: #1e2698;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.text__button {
  font-family: unset;
  font-style: normal;
  font-weight: 700;
  /* font-size: 22px; */
  font-size: 120%;
  line-height: 27px;
  /* identical to box height */
  color: #ffffff;
  text-decoration: none;
}

.text_header {
  position: absolute;
  top: 280px;
  left: 60px;
}

.text__desc {
  font-family: sans-serif;
  font-style: normal;

  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  /* or 177% */

  text-transform: uppercase;

  color: #0047cc;
}

.register_now_button {
  width: 45%;
  height: 69px;

  background: linear-gradient(94.63deg, #eeb625 4.13%, #fc5454 100%);
  border: none;
  border-radius: 12px;
  margin-top: 35px;
}

.background_icon {
  width: 80px;
  height: 84px;
  /* background: #19b600; */
  background: #ffffff;
  box-shadow: -1.48px 5.92px 10.36px rgba(0, 0, 0, 0.25);
  border-radius: 14.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer_text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16.3535px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  text-decoration: none;
}

.input_style {
  height: 68px;
  padding-left: 10px;
  width: 70%;
  border: 1px solid #979797;
  border-radius: 5px;
  border-right: none;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}

.input_style:focus {
  border: 1px solid #979797;
  border-radius: 5px;
  border-right: none;
}

.customer {
  object-fit: contain;
}

.content_header {
  background-image: url(./assets/img/background_header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 905px;
  display: flex;
  /* margin-top: 15px; */
}

.content_header_1 {
  width: 75%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.text_style {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.auto_item > div > img {
  width: 100%;
}

.text_desc {
  width: 100%;
  font-family: unset;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  color: #6e6e73;
  /* text-align: center; */
}

.img_customer_row > div > img {
  width: 20%;
}

.button {
  display: flex;
}

.text_button {
  text-decoration: none;
  font-family: unset;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
}

.options {
  display: flex;
  height: 92%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  flex: 1;
  padding-left: 70px;
  padding-top: 50px;
}

.options_container {
  margin: auto;
  margin-top: 3%;
  width: 75%;
  height: 687px;
  background: #ecf3ff;
  border-radius: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img_options {
  width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img_option_item_active {
  width: 42px;
  height: 42px;
}

.img_option_item_inactive {
  width: 42px;
  height: 42px;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.interative_back {
  background: #19b600;
}

.promote_back {
  background: #ffa412;
}

.potential_back {
  background: #0068fe;
}

.manage_back {
  background: #ff3647;
}

.options_content {
  justify-content: center;
  align-content: center;
}

.menu_button {
  display: none;
}

.header_option_item {
  font-family: unset;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 30px;
}

.text_option_item {
  font-family: unset;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  height: 170px;
}

.img_big_option_item {
  margin-right: 30px;
}

.solution {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: unset;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.header_solution {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: unset;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
}

.section_solution {
  margin-top: 100px;
}

.header_automatic {
  font-family: unset;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #0047cc;
  margin-bottom: 25px;
  margin-top: 30px;
}

.auto_img {
  height: 100%;
  width: auto;
}

.auto_item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
}

.auto_text {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  margin-bottom: 30px;
}

.header {
  width: 975px;
  font-size: 25px;
  text-align: center;
}

.mid_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom_item {
  display: none;
}

.background_tool {
  width: 100%;
  background: #f7faff;
  margin-top: 3%;
  /* padding: 10px; */
}

.flex_img_row {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex_img_column {
  display: none;
}

.img_customer_row {
  width: 75%;
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}

.img_customer_column {
  display: none;
}

.advise_ {
  display: flex;
  align-items: center;
  width: 75%;
  height: 260px;
  margin: auto;
  justify-content: space-between;
}

.input_button {
  background: linear-gradient(95.98deg, #eeb425 0.72%, #fa614e 100%);
  border-radius: 0px 5px 4px 0px;
  border: none;
  width: 200px;
  height: 70px;
}

.text_input_button {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.text_register_advise {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 45.5202px;
  line-height: 55px;
  color: #0047cc;
}

.text_desc_advise {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 22.711px;
  line-height: 34px;
  color: #1d1d1f;
}

.footer_option {
  width: 100%;
  height: 657px;
  background: #212326;
  display: flex;
  flex-direction: column;
}

.footer_1 {
  display: flex;
  flex-direction: row;
  width: 75%;
  /* justify-content: space-evenly; */
  margin: auto;
  height: 520px;
  border-bottom: 1px solid grey;
}

.footer_2 {
  display: none;
}

.footer_3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 75%;
  margin: auto;
}

.text_show_more_content {
  font-family: unset;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 25px;
  margin-right: 10px;
}

.show_more_content {
  display: flex;
  height: 100px;
  align-items: center;
  cursor: pointer;
}

.solution_item {
  display: block;
  position: absolute;
  font-size: 20px;
  text-align: center;
}

.solution_item:hover {
  font-size: 22px;
}

.register_img {
  position: absolute;
  right: 0;
  top: 33px;
  z-index: 2;
}

.form_register {
  margin-left: 20px;
  z-index: 3;
}

.more_info_tool {
  position: absolute;
  top: 35%;
  right: 25px;
  text-decoration: none;
  font-weight: 600;
  color: #0047cc;
  font-size: 18px;
}

.big_img > img {
  width: 70%;
}

.options_content {
  width: 100%;
}

.tool {
  height: 370px;
  border: 1px solid #ababab;
  border-radius: 7px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.tool_content {
  height: 140px;
  padding: 20px;
}

.tool_content_header {
  font-weight: 700;
  font-size: 19.208px;
  line-height: 28px;
}

.tool_content_desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.more_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.more_info_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16.0361px;
  line-height: 19px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .tool {
    width: 45%;
    height: 235px;
  }

  .form_register {
    margin-right: 0;
  }

  .register_img {
    display: none;
  }

  .solution_item {
    display: none;
  }

  .menu_button {
    display: block;
  }

  .page-header {
    height: 70px;
    width: 100%;
    background-image: url(./assets/img/background_header_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }

  .content_header {
    /* margin-top: 70px; */
    height: 710px;
  }

  .button {
    display: none;
  }

  .menu {
    display: none;
  }

  .text__desc {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 40px;
  }

  .content_header_1 {
    margin-top: 20px;
    flex-direction: column;
  }

  .text_style {
    width: 100%;
    align-items: center;
  }

  .text_desc {
    width: 375px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .header {
    width: 375px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .register_now_button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
  }

  .text_button {
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
  }

  .options {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 15px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .options_container {
    flex-direction: column;
    height: 615px;
  }

  .img_options {
    width: 100%;
    justify-content: space-evenly;
  }

  .background_icon {
    width: 60px;
    height: 60px;
  }

  .img_option_item_active {
    width: 28px;
    height: 28px;
  }

  .img_option_item_inactive {
    width: 28px;
    height: 28px;
  }

  .options_content {
    margin-top: 15px;
    width: 85%;
  }

  .header_option_item {
    height: 50px;
    font-size: 22px;
    line-height: 25px;
  }

  .text_option_item {
    font-size: 18px;
    width: 100%;
    height: 115px;
  }

  div > .img_big_option_item {
    height: 225px;
  }

  .img_big_option_item {
    width: 249px;
    margin: auto;
    margin-bottom: 10px;
  }

  .solution {
    top: 90px;
  }

  .header_solution {
    font-size: 22px;
    width: 100%;
    top: 20px;
    line-height: 28px;
  }

  .section_solution {
    margin-top: 35px;
  }

  .header_automatic {
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .auto_img {
    width: 100%;
    height: auto;
  }

  .auto_item {
    flex-direction: column;
  }

  .auto_text {
    width: 350px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .auto_item > div {
    width: 100%;
  }

  .mid_item {
    display: none;
  }

  .bottom_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .background_tool {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .flex_img_row {
    display: none;
  }

  .flex_img_column {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .img_customer_row {
    display: none;
  }

  .img_customer_column {
    width: 75%;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
  }

  .customer {
    max-width: 210px;
  }

  .advise_ {
    flex-direction: column;
    height: 205px;
    margin-bottom: 15px;
  }

  .input_style {
    width: 265px;
    height: 50px;
    font-size: 20px;
  }

  .input_button {
    height: 52px;
    width: 100px;
  }

  .text_register_advise {
    font-size: 22px;
    width: 250px;
    text-align: center;
  }

  .text_desc_advise {
    font-size: 20px;
    width: 300px;
    text-align: center;
  }

  .footer_option {
    height: auto;
  }

  .footer_1 {
    display: none;
  }

  .footer_2 {
    display: flex;
    flex-direction: column;
    margin: 35px 20px;
  }

  .footer_3 {
    flex-direction: column;
    height: 175px;
  }

  .big_img {
    width: 249px;
    margin: auto;
  }

  .show_more_content {
    height: 50px;
  }

  .text_show_more_content {
    font-size: 20px;
    font-weight: 600;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .text__desc {
    font-size: 30px;
  }

  .text_desc {
    font-size: 22px;
    z-index: 5;
  }

  .options_container {
    flex-direction: column;
  }

  .options_content {
    margin-top: 15px;
  }

  .img_options {
    width: 100%;
  }

  .text_option_item {
    height: 100px;
  }

  .register_now_button {
    display: none;
  }

  .options {
    padding: 50px;
  }

  .big_img > img {
    width: 70%;
  }

  .header_solution {
    font-size: 35px;
  }

  .solution_item {
    display: none;
  }

  .header_automatic {
    font-size: 35px;
  }

  div > .auto_img {
    width: 100%;
  }

  .auto_text {
    width: 100%;
    font-size: 30px;
  }

  .text_desc {
    width: 100%;
    font-size: 25px;
  }

  .text_register_advise {
    font-size: 30px;
  }

  .text_desc_advise {
    font-size: 25px;
  }

  .button {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu_button {
    display: block;
  }

  .more_info {
    height: 250px;
  }

  .more_info > p {
    font-size: 12px;
  }
}

@media (min-width: 1023px) and (max-width: 1440px) {
  #menu > li > a {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .solution_item {
    display: none;
  }

  .more_info_tool {
    display: none;
  }
}

@media (max-width: 1900px) {
  .solution_item {
    display: none;
  }
}

.item_footer {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 10px;
}

.more_footer {
  padding-left: 30px;
  padding-right: 30px;
}

.text_contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16.0361px;
  line-height: 19px;
  color: #979797;
  margin-bottom: 10px;
}

.hidden_menu {
  height: 90%;
  width: 75%;
  background: #fff;
  top: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: fixed;
  display: none;
  /* overflow-x: hidden; */
  transition: 1s;
  padding-top: 30px;
}

.show {
  display: block;
  animation-name: show-menu;
  animation-duration: 0.5s;
}

@keyframes show-menu {
  0% {
    right: -75%;
  }
  100% {
    right: 0;
  }
}

.hide {
  display: none;
  animation-name: hide-menu;
  animation-duration: 0.5s;
}

@keyframes hide-menu {
  0% {
    right: 0;
  }
  100% {
    right: -75%;
  }
}

.menu_item {
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
  color: #444;
}

.head_menu_item {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
}

.head_menu_item > a {
  text-decoration: none;
}

.head_menu_item:hover,
.menu_item:hover {
  background-color: #f5f5f5;
}

#close {
  font-size: 40px;
  position: absolute;
  top: -10px;
  right: 10px;
  text-decoration: none;
  color: #1d1d1d;
}
